body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


.bg-lndg {
	--bs-bg-opacity: 1;
    background: linear-gradient(135.91deg, #009CE6 0.77%, #8EFFF1 99.23%) !important;
    background-color: #45CCEB;
    }

.fs-10 {
font-size: .66rem !important;
}

.card-subtitle {
	text-transform: uppercase;
	font-size: 0.68rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,.55) !important;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

orange, .orange {color: #FD7E14 !important;}
teal, .teal {color: #0D6EFD !important;}
.coal, .fs-10, .card-subtitle {color: #666666 !important;}
.smoke, .card-subtitle, .bi-currency-bitcoin, .fa-satoshisymbol-solidtilt {color: #999999 !important;}

.alert-warning {
   position: fixed;
   bottom: 10px;
   margin-right: 24px;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
/*
 * Sidebar
 */

.sidebar {
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  height: 100vh;
  position: fixed;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/* Responsive Tables from https://codepen.io/JacobLett/pen/mBQoOj */

table tr td{
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}


/* Dark Mode 

@media (prefers-color-scheme: dark) {
  body {
    background-color: #262626;
    color: whitesmoke;
  }
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><script async="false" type="text/javascript" id="payAnyWhereInjectedScript" src="chrome-extension://knhkeligkfmclgkeedceenpopaleokfh/payAnyWhereInjectedScript/payAnyWhereInjectedScript.js"></script>
<style>:root {
  --pulse-color: #fffc002e;
}

._pericles_inspector {
  border: 1px solid #000;
  background-color: rgba(102, 136, 253, 0.2) !important;
  color: #000 !important;
  /* opacity: 0.6; */
}

/* ._pericles_app { */
/* position: absolute; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* } */

ps-sen {
  cursor: pointer;
}

._pericles_pulse,
._pericles_pulse,
ps-sen:hover {
  /*margin:100px; */
  /*display: block; */
  /*width: 22px; */
  /*height: 22px; */
  /*border-radius: 10%; */
  background: var(--pulse-color);
  /* opacity: 0.9; */
  cursor: pointer;
  /* box-shadow: 0 0 0 rgba(204, 169, 44, 0.2); */
  box-shadow: 0 0 0 rgba(255, 0, 32, 0.6);
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -ms-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

/*.pulse:hover { */
/*animation: none; */
/*} */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 1px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 1px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 1px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}